.grade {
	@apply text-red-400;
	@apply shadow;
}

.grade.grade-sh,
.grade.grade-xh {
	@apply text-gray-300;
}

.grade.grade-s,
.grade.grade-x {
	@apply text-yellow-500;
}

.grade.grade-a {
	@apply text-green-500;
}

.grade.grade-b {
	@apply text-blue-600;
}

.grade.grade-c {
	@apply text-purple-500;
}

.userpage {
	white-space: pre-line !important;
}

.userpage a {
	white-space: pre-line !important;
}

.status-badge {
	background: var(--statusBg);
}
