.grade {
	font-size: 1.25rem;
	@apply text-red-400;
	@apply shadow;
}

.grade.grade-sh,
.grade.grade-xh {
	@apply text-gray-300;
}

.grade.grade-s,
.grade.grade-x {
	@apply text-yellow-500;
}

.grade.grade-a {
	@apply text-green-500;
}

.grade.grade-b {
	@apply text-blue-600;
}

.grade.grade-c {
	@apply text-purple-500;
}
