table {
	@apply border-separate;
	border-spacing: 0 5px;
}

table thead td {
	@apply text-xs pb-2 text-surface-300;
}

table tbody tr {
	@apply hover:scale-[1.005] active:scale-[0.995] transition-transform;
}

table tbody tr td {
	@apply p-2;
	@apply cursor-pointer;
}

table tbody tr td:first-child {
	@apply rounded-l-lg;
	@apply w-[20px];
}

table tbody tr td:last-child {
	@apply rounded-r-lg;
}

